
@using QLPHUKIEN.Models
@using PagedList.Mvc;
@model PagedList.PagedList<PHUKIEN>

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayouUser.cshtml"; }


<div class="row">


    @foreach (var phukien in Model)
    {
         <div class="col-md-4 col-lg-2 col-md-3">
             <div class="thumbnail">
        <a href="@Url.Action("Detail", "PHUKIEN", new { id = phukien.MaPK })">
            <img alt="@phukien.TenPK" src="~/images/@phukien.Anhbia" width="70" />
            <div>
                <h4 style="text-align:center"> 
                    @phukien.TenPK
                </h4>
                <h4 style="text-align:center;color:red">
                    @phukien.Giaban VND
                </h4>
            </div>
        </a>

    </div>
</div>
    }
            </div>

  




        Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) /@Model.PageCount
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

            <style>
                .MenuTrang li {
                    display: inline;
                }
            </style>
        </div>





