@using PagedList.Mvc;
@using QLPHUKIEN.Models;
@model PagedList.PagedList<QLPHUKIEN.Models.PHUKIEN>
@*@model IEnumerable<QLPHUKIEN.Models.PHUKIEN>*@
@{
    ViewBag.Title = "PhuKien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý thông tin phụ kiện</h2>

<p>
    @Html.ActionLink("Create New", "ThemPhuKien")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px">
           Tên Phụ Kiện
        </th>
        <th style="width:100px">
           Giá
        </th>
        <th style="width:300px">
           Mô tả
        </th>
        <th style="width:120px">
           Ảnh bìa
        </th>
        <th style="width:150px">
           Ngày cập nhật
        </th>
        <th style="width:120px">
            Số lượng tồn
        </th>
        <th style="width:100px">
           Tên chủ đề
        </th>
        <th style="width:200px"> Tác vụ</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaban)
            </td>
            <td>
                @Html.Raw(item.Mota)
            </td>
            <td>
                <div>
                    <img width=50 src="@Url.Content("~/images/"+ item.Anhbia)   " />
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td>
                @Html.ActionLink("Edit", "SuaPhuKien", new { id = item.MaPK }) |
                @Html.ActionLink("Details", "ChiTietPK", new { id = item.MaPK }) |
                @Html.ActionLink("Delete", "XoaPhuKien", new { id = item.MaPK })
            </td>
        </tr>
    }
</table>
@*tạo liên kết các trang*@
@*Trang @Model.PageCount Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount ;*@

    <div class="MenuTrang">

        @Html.PagedListPager(Model, page => Url.Action("PhuKien", new { page = page }))
    </div>
             <style>
                 .MenuTrang li {
                 display: inline;
}
             </style>


