
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_LayouUser.cshtml";
}

<h2>Dangnhap</h2>
<h4 style="color:red; text-align:center">@ViewBag.ThongBao</h4>
<table align="center">
    <h3 style="text-align:center"> Đăng Nhập </h3>
    @using (Html.BeginForm()) 
    {

    @Html.ValidationSummary(true)
    <tr style="height:40px">
        <td>Tên Đăng Nhập:</td>
        <td>
            @Html.TextBox("TenDN")
            @ViewData["Loi1"]
        </td>
    </tr>
    <tr style="height:40px">
        <td align="right">Mật Khẫu:</td>
        <td>
            @Html.Password("Matkhau")
            @ViewData["Loi2"]
        </td>
    </tr>
    <tr style="height:40px">
        <td>:</td>
        <td>
            <input type="submit" value="Đăng Nhập" />
        </td>
    </tr>
    }

</table>
